@import "tailwindcss";

:root {
 --font-sans: var(--font-prompt);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
font-family: var(--font-prompt), sans-serif;
}
